package templates

templ Profile(name string) {
	@Layout() {
		<div class="">
            <h2>Profile page</h2>
            <p>Welcome { name }</p>
			<a href="/saved-recipes">My Recipes</a>
            <a href="/logout">Logout</a>
		</div>
	}
}